<?xml version="1.0"?>
<model>
  <name>Iris with stereo cam</name>
  <version>1.0</version>
  <sdf version='1.4'>iris_stereocam.sdf</sdf>

  <author>
   <name>SBK</name>
   <email>abc@xyz.biz</email>
  </author>

  <description>
    This is a model of the Iris Quadrotor with stereo cam
  </description>
</model>
